<ion-view view-title="Dashboard">
    <ion-content class="padding">
        <h2>Welcome to Ionic</h2>
        <button class="button button-positive" ng-click="login()"> login</button>
        <button class="btn btn-block" ng-click="getInfo()">Get My Info</button>
        <p>Name: {{user.name}}</p>
        <img ng-src="{{'http://graph.facebook.com/' + user.id + '/picture?type=small'}}" />
        <hr/>
        <textarea id="Message" placeholder="What's on your mind?" rows="5"></textarea>
        <button class="btn btn-block" ng-click="share()">Share</button>
        <hr/>
        <p>Complete Facebook Logout. After logging out, you'll have to login again and provide your Facebook credentials.</p>
        <button class="btn btn-block" ng-click="logout()">Logout</button>
        <hr/>
        <button class="btn btn-block" ng-click="readPermissions()">Read Permissions</button>
        <p>Revoke App Permissions. After revoking permissions, you'll have to grant permissions again when logging in.</p>
        <button class="btn btn-block" ng-click="revoke()">Revoke Permissions</button>
    </ion-content>
</ion-view>
